.listItem{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    align-content: center;
    padding: 0px;

}

.friendItem{
    display: flex;
    
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    align-content: center;

}
