.transactionTable,
th,
td{
    border: solid 0.5px #000;
    border-spacing: 0;
    font-size: 18px;
    
}

th,
td{
    padding: 15px 45px;
}

.transTr{
    background-color: #2a2a2a;
    color: aliceblue;
}

.rowStyle:nth-child(even) {
    background-color: #d3d3d3;
  }